<div fxLayout="row" fxLayoutAlign="center">
    <form class="" [formGroup]="categoryForm" fxLayout="column" (ngSubmit)="submit()"  fxLayoutAlign="space-between center">
        <div>
            <h1>New Category</h1>
        </div>

        <div>
            <mat-form-field  class="width-input">
                <mat-label>Name </mat-label>
                <input matInput  id="name"  formControlName="name">
                <mat-error *ngIf="categoryForm.hasError('name') && !categoryForm.hasError('required')">Enter name</mat-error>
            </mat-form-field>
        </div>
        
        <button mat-button type="submit" class="button-style btn btn-primary btn-block" [disabled]="categoryForm.invalid">Add</button> 
    </form>
</div>