
   <div fxLayout="row" fxLayoutAlign="space-around" >  
    <div style="width: 50%;">
      <mat-form-field  class="width-input">
        <mat-label>Search</mat-label>
        <input matInput (change)="applyFilter($event)" #input [value]="searchData" type="search">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutAlign="center">
        <button mat-button type="submit" class="button-style btn btn-primary btn-block" routerLink="/sequester/add">
            New sequester
        </button> 
    </div>
    
  </div> 
  
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    
    <ng-container matColumnDef="description">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

     <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{AuctionType[element.type]}} </td>
    </ng-container>

    <ng-container matColumnDef="markedPrice">
    <th mat-header-cell *matHeaderCellDef> Marked Price </th>
    <td mat-cell *matCellDef="let element"> {{element.markedPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="buyedPrice">
    <th mat-header-cell *matHeaderCellDef> Buyer Price </th>
    <td mat-cell *matCellDef="let element"> {{element.buyedPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link"> 
        <a (click)="editUserDialog(element)">Edit</a> | 
        <a (click)="deleteUserDialog(element)">Delete</a>  
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator class="paginator"
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 15, 30, 50, 100]" 
    (page)="getServerData($event)"
    showFirstLastButtons></mat-paginator>
