<div fxLayout="row" fxLayoutAlign="center">
    <form class="" [formGroup]="filterForm" fxLayout="column" (ngSubmit)="submit()"  fxLayoutAlign="space-between center">
        <div>
            <h1>New Filter</h1>
        </div>

        <div>
            <mat-form-field  class="width-input">
                <mat-label>Category</mat-label>
                <mat-select formControlName="categoryKey" aria-placeholder="Select category" (selectionChange)="callSubCategory()" >
                    <mat-option *ngFor="let category of categories" [value]="category.key" >{{category.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field  class="width-input">
                <mat-label>Sub Category</mat-label>
                <mat-select formControlName="subCategoryKey" aria-placeholder="Select sub category" >
                    <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory.key" [disabled]="filterForm.get('categoryKey')?.value == null">{{subCategory.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field  class="width-input">
                <mat-label>Name </mat-label>
                <input matInput  id="name"  formControlName="name">
                <mat-error *ngIf="filterForm.hasError('name') && !filterForm.hasError('required')">Enter name</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field  class="width-input">
                <mat-label>Value</mat-label>
                <input matInput  id="value"  formControlName="value">
                <mat-error *ngIf="filterForm.hasError('value') && !filterForm.hasError('required')">Enter value</mat-error>
            </mat-form-field>
        </div>
        
    <button mat-button type="submit" class="button-style btn btn-primary btn-block" [disabled]="filterForm.invalid">Add</button> 
    </form>
</div>