<nav class="navbar bg-dark">
    <h2>MyAuction.MD</h2>
    
    <ul center>
        <li routerLinkActive="active">
            <a [routerLink]= "['test']">Test Filters</a>
        </li>
        <li routerLinkActive="active">
            <a href="#">Toate Licitatiile</a>
        </li>
        <li routerLinkActive="active">
            <a href="#">Licitatia #1</a>
        </li>
        <li routerLinkActive="active">
            <a href="#">Licitatia #2</a>
        </li>
        <li routerLinkActive="active">
            <a href="#">Licitatia #3</a>
        </li>
        <li routerLinkActive="active">
            <a href="#">Lista de urmarire</a>
        </li>
        <li *ngIf="token == null" routerLinkActive="active">
            <a [routerLink]= "['account/login']">LogIn</a>
        </li>
        <li *ngIf="token != null" routerLinkActive="active">
            <a (click)="logout()">LogOut</a>
        </li>
    </ul>
</nav>
