<div fxLayout="row" fxLayoutAlign="center">
    <form class="" [formGroup]="executorForm" fxLayout="column" (ngSubmit)="submit()"  fxLayoutAlign="space-between center">
        <div>
            <h1>New Executor</h1>
        </div>

        <div>
            <mat-form-field  class="width-input">
                <mat-label>Email</mat-label>
                <input matInput  id="email" type="email" formControlName="email">
                <mat-error *ngIf="executorForm.hasError('email') && !executorForm.hasError('required')">Enter Email</mat-error>
                <mat-error *ngIf="executorForm.get('email')?.errors?.email">Enter valid Email</mat-error> 
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field  class="width-input">
                <mat-label>First Name</mat-label>
                <input matInput  id="firstName"  formControlName="firstName">
                <mat-error *ngIf="executorForm.hasError('firstName') && !executorForm.hasError('required')">Enter First Name</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field  class="width-input">
                <mat-label>Last Name</mat-label>
                <input matInput  id="lastName"  formControlName="lastName">
                <mat-error *ngIf="executorForm.hasError('lastName') && !executorForm.hasError('required')">Enter Last Name</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field  class="width-input">
                <mat-label>City</mat-label>
                <input matInput  id="lastName"  formControlName="city">
                <mat-error *ngIf="executorForm.hasError('city') && !executorForm.hasError('required')">Select City</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field  class="width-input">
                <mat-label>Zip Code</mat-label>
                <input matInput  id="lastName"  formControlName="zipCode">
                <mat-error *ngIf="executorForm.hasError('zipCode') && !executorForm.hasError('required')">Enter Zip Code</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field  class="width-input">
                <mat-label>Street</mat-label>
                <input matInput  id="lastName"  formControlName="street">
                <mat-error *ngIf="executorForm.hasError('street') && !executorForm.hasError('required')">Enter Street</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field  class="width-input">
                <mat-label>Executor Number</mat-label>
                <input matInput  id="lastName"  formControlName="executorNumber">
                <mat-error *ngIf="executorForm.hasError('executorNumber') && !executorForm.hasError('required')">Select City</mat-error>
            </mat-form-field>
        </div>
    <button mat-button type="submit" class="button-style btn btn-primary btn-block" [disabled]="executorForm.invalid">Add</button> 
    </form>
</div>