
<div fxLayout="row" fxLayoutAlign="center">
    <form class="" [formGroup]="sequesterForm" fxLayout="column" (ngSubmit)="submit()"  fxLayoutAlign="space-between center">
    <div>
        <h1>New Sequester</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex=33>
            <mat-form-field  class="width-input">
                <mat-label>Category</mat-label>
                <mat-select formControlName="categoryKey" aria-placeholder="Select category" (selectionChange)="getCategoryFilters()" >
                    <mat-option *ngFor="let category of categories" [value]="category.key" >{{category.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    
        <div fxFlex=33>
            <mat-form-field  class="width-input">
                <mat-label>Sub Category</mat-label>
                <mat-select formControlName="subCategoryKey" aria-placeholder="Select sub category"  (selectionChange)="getSubCategoryFilters()">
                    <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory.key" [disabled]="sequesterForm.get('categoryKey')?.value == null">{{subCategory.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" formArrayName="commonFilter">
        <div fxFlex="33" *ngFor="let filter of commonFilters; let i=index" >
            <mat-form-field  class="width-input" [formGroupName]="i">
                <mat-label>{{filter.name}}</mat-label>
                <mat-select formControlName="key" aria-placeholder="Select sub category" >
                    <mat-option *ngFor="let fil of filter.filters" [value]="fil.key">{{fil.value}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" formArrayName="categoryFilter">
        <div fxFlex="33" *ngFor="let filter of categoryFilters; let i=index" >
            <mat-form-field  class="width-input" [formGroupName]="i">
                <mat-label>{{filter.name}}</mat-label>
                <mat-select formControlName="key" aria-placeholder="Select sub category" >
                    <mat-option *ngFor="let fil of filter.filters" [value]="fil.key">{{fil.value}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" formArrayName="subCategoryFilter">
        <div fxFlex="33" *ngFor="let filter of subCategoryFilters; let i=index" >
            <mat-form-field  class="width-input" [formGroupName]="i">
                <mat-label>{{filter.name}}</mat-label>
                <mat-select formControlName="key" aria-placeholder="Select sub category" >
                    <mat-option *ngFor="let fil of filter.filters" [value]="fil.key">{{fil.value}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" >
        <div fxFlex="25">
            <mat-form-field  class="width-input">
                <mat-label>Name</mat-label>
                <input matInput  id="name" type="name" formControlName="name">
                <mat-error *ngIf="sequesterForm.hasError('name') && !sequesterForm.hasError('required')">Enter name</mat-error>
            </mat-form-field>
        </div>
    
        <div fxFlex="25">
            <mat-form-field  class="width-input">
                <mat-label>Description</mat-label>
                <input matInput  id="description" type="description" formControlName="description">
                <mat-error *ngIf="sequesterForm.hasError('description') && !sequesterForm.hasError('required')">Enter description</mat-error>
            </mat-form-field>
        </div>
    
        <div fxFlex=25>
            <mat-form-field  class="width-input">
                <mat-label>Price</mat-label>
                <input matInput type="number" id="markedPrice" type="markedPrice" formControlName="markedPrice">
                <mat-error *ngIf="sequesterForm.hasError('markedPrice') && !sequesterForm.hasError('required')">Enter price</mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="25">
            <mat-form-field appearance="fill" class="width-input">
                <mat-label>Date</mat-label>
                <input matInput  id="dateExpired" type="dateExpired" formControlName="dateExpired" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="sequesterForm.hasError('dateExpired') && !sequesterForm.hasError('required')">Select date</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
       <div>
            <div  class="width-input form-group">
                <label class="label">File</label>
                <input 
                    class="form-control"
                    formControlName="file"
                    id="file" 
                    type="file" 
                    class="form-control"
                    (change)="onFileChange($event)">
            </div>
       </div>
        <div>
            <mat-icon>remove_red_eye</mat-icon>
        </div>
    </div>
    
    <div>
        <button mat-button type="submit" class="button-style btn btn-primary btn-block">Add</button> 

    </div>
    </form>
</div>