table {
    width: 80%;
    margin: 20px auto;
  }

.paginator {
    width: 80%;
    margin: 20px auto;
}

.width-input{
    font-size: 14px;
    width: 80%;
    margin: 20px auto;
}

.button-style{
  background-color: black;
  color: white !important;
}
