
   <div fxLayout="row" fxLayoutAlign="space-around" >  
    <div style="width: 50%;">
      <mat-form-field  class="width-input">
        <mat-label>Search</mat-label>
        <input matInput (change)="applyFilter($event)" #input [value]="searchData" type="search">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutAlign="center">
        <button mat-button type="submit" class="button-style btn btn-primary btn-block" routerLink="/sub-categories/add">
            New sub category
        </button> 
    </div>
    
  </div> 
  
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">

    <!-- Symbol Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="category">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Category Name </th>
        <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
      </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link"> 
        <!-- <a (click)="editUserDialog(element)">Edit</a> | 
        <a (click)="deleteUserDialog(element)">Delete</a>   -->
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator class="paginator"
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 15, 30, 50, 100]" 
    (page)="getServerData($event)"
    showFirstLastButtons></mat-paginator>
