a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: lightgray;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}

mat-nav-list {

    .chevron-button {
      transition: 300ms ease-in-out;
      transform: rotate(0deg);
      right: 0;
      float: right;
      position: absolute;
    }

    .chevron-button.rotated {
      transform: rotate(180deg);
    }
  }