<mat-nav-list>
    <mat-list-item>
        <mat-icon mat-list-icon class="chevron-button sidenav-button" (click)="isExpanded = !isExpanded;onSidenavClose()" [ngClass]="{'rotated': isExpanded}">chevron_right</mat-icon>
      </mat-list-item>
    <mat-list-item routerLink="/" (click)="onSidenavClose()">
        <mat-icon>
            home
        </mat-icon>
        <span  *ngIf="isExpanded"class="nav-caption">
            Home
        </span>
    </mat-list-item> 
    <mat-list-item [routerLink]= "['users/list']" (click)="onSidenavClose()">
        <mat-icon>
            assignment_ind
        </mat-icon>
        <span *ngIf="isExpanded" class="nav-caption">
            User List
        </span>
    </mat-list-item> 
    <mat-list-item  [routerLink]= "['executors/list']" (click)="onSidenavClose()">
        <mat-icon>
            assignment_ind
        </mat-icon>
        <span  *ngIf="isExpanded"class="nav-caption">
            Executor List
        </span>
    </mat-list-item> 

    <mat-list-item  [routerLink]= "['filters/list']" (click)="onSidenavClose()">
        <mat-icon>
            assignment_ind
        </mat-icon>
        <span  *ngIf="isExpanded"class="nav-caption">
            Filter List
        </span>
    </mat-list-item> 

    <mat-list-item  [routerLink]= "['filters/categories/list']" (click)="onSidenavClose()">
        <mat-icon>
            assignment_ind
        </mat-icon>
        <span  *ngIf="isExpanded"class="nav-caption">
            Categories List
        </span>
    </mat-list-item> 

    <mat-list-item  [routerLink]= "['filters/sub-categories/list']" (click)="onSidenavClose()">
        <mat-icon>
            assignment_ind
        </mat-icon>
        <span  *ngIf="isExpanded"class="nav-caption">
            Sub categories List
        </span>
    </mat-list-item> 
    
</mat-nav-list>