<div class="width-form">
    <form class="" [formGroup]="form" (ngSubmit)="submit()" fxLayout="column" fxLayoutAlign="center center">
        <h2>Logare Admin</h2>
    
        <mat-form-field  class="width-input">
            <mat-label>Email</mat-label>
            <input matInput  id="email" type="email" formControlName="email">
            <mat-error *ngIf="form.hasError('email') && !form.hasError('required')">Enter Email</mat-error>
            <mat-error *ngIf="form.get('email')?.errors?.email">Enter valid Email</mat-error> 
        </mat-form-field>
    
        <mat-form-field  class="width-input">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password">
            <mat-error *ngIf="form.get('password')?.errors?.required">Enter Password</mat-error>
            <mat-error *ngIf="form.get('password')?.errors?.minlength">
                Parola trebuie sa contina mai mult de  {{form.get('password')?.errors?.minlength?.requiredLength}} caractere. 
                La moment sunt introduse {{form.get('password')?.errors?.minlength.actualLength}}
            </mat-error>
        </mat-form-field>
    
    <button mat-button type="submit" class="button-style btn btn-primary btn-block" [disabled]="form.invalid">Logon</button> 
    
    </form>


</div>