<div class="width-form">
    <form [formGroup]="form" (ngSubmit)="submit()" >

        <h2>Logare Admin</h2>
    
        <div class="form-control">
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email">
            <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="validation">
                <small *ngIf="form.get('email')?.errors?.required">Enter Email</small>
                <small *ngIf="form.get('email')?.errors?.email">Enter valid Email</small>
            </div>
        </div>
    
        <div class="form-control">
            <label for="password">Password</label> 
            <input id="password" type="password" formControlName="password">
            <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="validation">
                <small *ngIf="form.get('password')?.errors?.required">Enter Password</small>
                <small *ngIf="form.get('password')?.errors?.minlength">
                    Parola trebuie sa contina mai mult de  {{form.get('password')?.errors?.minlength?.requiredLength}} caractere. 
                    La moment sunt introduse {{form.get('password')?.errors?.minlength.actualLength}}
                </small>
            </div>
        </div>
    
        <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Logon</button>
        
    
    </form>
</div>