<div fxLayout="row" fxLayoutAlign="center">
    <form class="" [formGroup]="subCategoryForm" fxLayout="column" (ngSubmit)="submit()"  fxLayoutAlign="space-between center">
        <div>
            <h1>New Sub Category</h1>
        </div>

        <div>
            <mat-form-field  class="width-input">
                <mat-label>Category</mat-label>
                <mat-select formControlName="categoryKey" aria-placeholder="Select category">
                    <mat-option *ngFor="let category of categories" [value]="category.key" >{{category.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field  class="width-input">
                <mat-label>Name </mat-label>
                <input matInput  id="name"  formControlName="name">
                <mat-error *ngIf="subCategoryForm.hasError('name') && !subCategoryForm.hasError('required')">Enter name</mat-error>
            </mat-form-field>
        </div>
        
        <button mat-button type="submit" class="button-style btn btn-primary btn-block" [disabled]="subCategoryForm.invalid">Add</button> 
    </form>
</div>