<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/">Sechestre.MD</a>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li *ngIf="token == null">
                <a routerLink="account/login">
                    Login
                </a>
            </li>
            <li *ngIf="token != null">
                <a (click)="logout()">
                    Logout
                </a>
            </li>
        </ul>
    </div>
</mat-toolbar>