<div style="display: grid!important;" class="row justify-content-md-center  p-4">
    <form [formGroup]="registerForm" (ngSubmit)="submit()" style="width: 550px;">
        <div class="form-group">
            <label>Email</label>
            <input formControlName="email" type="email" class="form-control" placeholder="Enter email">
            <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="validation">
                <small class="text-danger" *ngIf="registerForm.get('email')?.errors?.required">Enter Email</small>
                <small class="text-danger" *ngIf="registerForm.get('email')?.errors?.email">Enter valid Email</small>
            </div>
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input formControlName="firstName" type="text" class="form-control" placeholder="Enter first name">
            <div *ngIf="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.invalid" class="validation">
                <small class="text-danger" *ngIf="registerForm.get('firstName')?.errors?.required">Enter first name</small>
            </div>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input formControlName="lastName" type="text" class="form-control" placeholder="Enter last name">
            <div *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.invalid" class="validation">
                <small class="text-danger" *ngIf="registerForm.get('lastName')?.errors?.required">Enter last name</small>
            </div>
        </div>
        <div class="form-group">
            <label>City</label>
            <select formControlName="city" type="text" class="form-control" placeholder="Enter city">
                <option *ngFor="let city of cities" [ngValue]="city.name">
                    {{city.name}}
                </option>
            </select>
            <div *ngIf="registerForm.get('city')?.touched && registerForm.get('city')?.invalid" class="validation">
                <small class="text-danger" *ngIf="registerForm.get('city')?.errors?.required">Enter city</small>
            </div>
        </div>
        <div class="form-group">
            <label>Street</label>
            <input formControlName="street" type="text" class="form-control" placeholder="Enter street">
            <div *ngIf="registerForm.get('street')?.touched && registerForm.get('street')?.invalid" class="validation">
                <small class="text-danger" *ngIf="registerForm.get('street')?.errors?.required">Enter street</small>
            </div>
        </div>
        <div class="form-group">
            <label>License</label>
            <input formControlName="license" type="text" class="form-control" placeholder="Enter street">
            <div *ngIf="registerForm.get('license')?.touched && registerForm.get('license')?.invalid" class="validation">
                <small class="text-danger" *ngIf="registerForm.get('license')?.errors?.required">Enter license</small>
            </div>
        </div>
        <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Submit</button>
      </form>
</div>