mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

// mat-sidenav {
//     width: 250px;
// }

main {
    padding: 10px;
}

mat-sidenav {

    mat-nav-list {

      .chevron-button {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
        right: 0;
        float: right;
        position: absolute;
      }

      .chevron-button.rotated {
        transform: rotate(180deg);
      }
    }
  }