<app-layout>
  <mat-sidenav-container>
    <mat-sidenav [ngStyle]="{'width': sidebarWidth, 'transition': 'all .3s ease-in'}" mode="side" opened="true" >
      <app-sidebar-list (sidenavClose)="expendSidebar($event)">

      </app-sidebar-list>
    </mat-sidenav>
    <mat-sidenav-content [ngStyle]="{'margin-left': contentSidenavMarginLeft, 'transition': 'all .3s ease-in'}">
      <app-header></app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>